@import './_variables'; 
@import './_helpers'; 

* {
  margin: 0; 
  padding: 0; 
}

body {
  font-family: $normal-font;
  color: $main-blue;
  margin: $mobile-gutter-margin * 1%;
  background-color: $white-main-blue;
}

h1, h2, h3 {
  font-family: $bold-font; 
}

.roundLoop, 
.game {
  @include flex(column); 

}

.logo-text {
  margin: 0.5rem; 
  max-width: 50%;  
}

.logo-big {
  max-width: 90%; 
}

.logo-small {
  max-width: 60%; 
}


.color-1 {
  background-color: $background-green;
}

.color-2 {
  background-color: $background-red-orange;
}

.color-3 {
  background-color: $background-mageneta;
}

.color-4 {
  background-color: $background-orange;
}

.color-5 {
  background-color: $background-pink;
}

.color-6 {
  background-color: $background-yellow;
}

.color-7 {
  background-color: $background-monkey-blue;
}

.color-8 {
  background-color: $background-purple;
}
