@import './_variables'; 
@import './_helpers'; 

* {
  margin: 0; 
  padding: 0; 
}

body {
  font-family: $normal-font;
  color: $main-blue;
}

h1, h2, h3 {
  font-family: $bold-font; 
}

.roundLoop, 
.game {
  @include flex(column); 
}

.logo-text {
  margin: 0.5rem; 
  max-width: 40%;  
}

.logo-big {
  max-width: 90%; 
}

.logo-small {
  max-width: 60%; 
}