@import 'partials/_variables'; 
@import 'partials/_helpers'; 
@import 'partials/_global'; 

.answerCard {
  @include flex(row, left, center); 

  background-color: $off-white;
  border: $border-size solid $main-blue; 
  -webkit-box-shadow:  4px 4px 0px 0px $main-blue; 
  box-shadow: 4px 4px 0px 0px $main-blue;
  font-size: 1.65rem;

  margin: .25rem;
  // margin-left: $mobile-col-1 * 1%;
  padding: 0.5rem;

  width: ($mobile-col-6 + ($mobile-gutter-margin * 2)) * 1%;
  max-width: 24rem;
  cursor: pointer;

  min-height: 90px;
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    // margin-bottom: 10%;
    min-height: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid $main-blue; 
  }
  /* change color of checkbox background on select */ 
  .container input:checked ~ .checkmark {
    background-color: $light-main-blue;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $main-blue;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/*style entire card for checked state*/ 
.checked {
  background-color: $light-main-blue; 
}

.answer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10rem;
  width: 100%;
}