@import 'partials/_variables'; 
@import 'partials/_helpers'; 
@import 'partials/_global'; 


.avatarScore {
  @include flex(column); 
  margin: 1rem .5rem;
  header {
    @include flex(row); 
    font-family: $bold-font;
    font-size: 1.5rem; 

    & p {
      font-size: 2rem;
      margin:0;
    }
  }

  footer {
    @include flex(column); 
    font-size: 1.675rem; 
  
    img {
      max-width: 6rem;
      
      &.winner {
        max-width: 10rem;
      }
    }
    .score {
      margin: 0; 
    }
  }

  .decoration {
    max-width: 2.5rem;
  }

  img {
    max-width: 6rem; // might be good to make avatar size (like basic) a variable
  }

  .winnerName {
    padding: 0 .2rem; 
    box-shadow: inset 0 -0.75rem 0 0 $light-main-blue;
  }
}