@import 'partials/_variables'; 
@import 'partials/_helpers'; 
@import 'partials/_global'; 



.button {
  -webkit-box-shadow: 5px 7px 0px 0px $main-blue; 
  box-shadow: 5px 7px 0px 0px $main-blue;
  border: $border-size solid $main-blue; 
  color: $main-blue;
  font-size: 20px;
  padding: 0.5rem 3rem; 
  font-family: $normal-font;
  &:hover {
    border: scale($border-size, 1.25) solid $main-blue;
  }
}

.button-confirm {
  background-color: $light-main-blue; 
}