@import './partials/variables';
@import 'partials/_helpers'; 

.lobby {
  position: relative;
  @include flex(column, center, center); 

  

  color:$main-blue;
  text-transform: lowercase;
  font-family: $normal-font;

  & header {
    text-align: center;
    width: 100%;
  }

  & header h2{
    // margin:0;
    font-size: 1rem;
    
  }
  
  & header .room-code{
    // display: none;
   
    margin: 0;
    background-color: $white-main-blue;
    font-size: 2.875rem;
    font-family: $bold-font;
    color:$main-blue;
    text-align: center;
    border: none; 
    user-select: none;
    &:focus {
      outline: none; 
    }
    &::selection {
      color: $main-blue
    }
  }

  & header .copied-message {
    color: $main-pink; 
  }

  & header .button {
    margin: .5rem auto .5rem auto;
  }

  & hr {
    width: $mobile-col-6 + ($mobile-gutter-margin * 2) * 1%;
    max-width: 20rem;
    height: .2rem;
    margin: 0.5rem 0 .5rem 0;
    background-color: $main-blue;

    border:none;
    border-radius: 10rem;
  }

  & .player-counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // margin-left: ($mobile-col-1 + $mobile-gutter-margin) * 1%;
    width: $mobile-col-6 + ($mobile-gutter-margin * 2) * 1%;
    max-width: 20rem;
    font-size: 1rem;
  }

  & .player-list{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10rem;
    width: 100%;
    
  }
}

.room-code-hide {
  position:fixed;
  left:-100em;
  top:100rem;
}