@import 'partials/_variables'; 
@import 'partials/_helpers'; 
@import 'partials/_global'; 


div.nameCard {
  @include flex(row, space-between, center); 
  box-sizing: border-box;

  padding: 0 1rem;
  width: ($mobile-col-6 + ($mobile-gutter-margin * 2)) * 1%;
  max-width: 24rem;
  height: $mobile-col-3 * 1vw;
  max-height: 8rem;

  margin: .75rem;
  // margin-left: ($mobile-col-1 + $mobile-gutter-margin) * 1%;
  font-family: $normal-font; 
  color: $main-blue;
  font-size: 1.625rem;

  border: $border-size solid $main-blue;
  & div {
    @include flex(row, flex-start); 
  }

  & div img {
    max-width: 22%; 
    // max-height: 7rem;
    width:auto;
    // height:$mobile-col-2 * 1vw;
  }

  & .host-icon {
    max-width: 12%;
  }
  & div p {
    margin: 1rem; 
    font-size: 1.625rem;
  }

  &--inactive{
    color:$disabled-blue;
    border: $border-size solid $disabled-blue;
    background-color: $white-main-blue;
    & img {
      opacity: .5;
    }
  }
}