@import 'partials/_variables'; 
@import 'partials/_helpers'; 
@import 'partials/_global'; 


.nameCard {
  @include flex(row); 
  box-sizing: border-box;

  padding: 0 1rem;
  width: ($mobile-col-6 + ($mobile-gutter-margin * 2)) * 1%;
  height: $mobile-col-2 * 1vw;

  margin-bottom: .75rem;
  margin-left: ($mobile-col-1 + $mobile-gutter-margin) * 1%;
  font-family: $normal-font; 
  color: $main-blue;
  font-size: 1.625rem;

  border: $border-size solid $main-blue;
  div {
    @include flex(row, flex-start); 
  }

  img {
    max-width: 20%; 
  }

  p {
    margin: 1rem; 
    font-size: 1.625rem;
  }

  &--inactive{
    color:$disabled-blue;
    border: $border-size solid $disabled-blue;
    background-color: $white-main-blue;
    & img {
      opacity: .5;
    }
  }
}