@import 'partials/_variables'; 
@import 'partials/_helpers'; 


.question {
  @include flex(row); 
  font-family: $normal-font;
  color: $main-blue;
  font-size: 1.625rem;
  span {
    font-family: $bold-font;
    padding: 0 .2rem; 
  }

  .span-1 {
    box-shadow: inset 0 -1rem 0 0 $main-green;
  }

  .span-2 {
    box-shadow: inset 0 -1rem 0 0 $main-red-orange;
  }

  .span-3 {
    box-shadow: inset 0 -1rem 0 0 $main-magenta;
  }

  .span-4 {
    box-shadow: inset 0 -1rem 0 0 $main-orange;
  }

  .span-5 {
    box-shadow: inset 0 -1rem 0 0 $main-pink;
  }

  .span-6 {
    box-shadow: inset 0 -1rem 0 0 $main-yellow;
  }

  .span-7 {
    box-shadow: inset 0 -1rem 0 0 $main-monkey-blue;
  }

  .span-8 {
    box-shadow: inset 0 -1rem 0 0 $main-purple;
  }

  img {
    margin: 0 1rem;
    max-width: 20%; 
  }
}


