@import 'partials/_variables'; 
@import 'partials/_helpers'; 
@import 'partials/_global'; 

.questionResult {
  border: $border-size solid $main-blue; 
  max-width: 24rem;
  width:($mobile-col-6 + ($mobile-gutter-margin * 2)) * 1%;
  margin: .25rem .25rem; 
  padding: 0.75rem; 

  background-color: $off-white;
  header {
    @include flex(row, flex-start, center);
    width:100%;
    border-bottom: 2px solid $main-blue; 
    div {
      @include flex(column, flex-start, center);
    }
  }

  footer {
    padding: 0.5rem 0; 
    div {
      @include flex(row, space-between); 
    }
    .players {
      @include flex(row, flex-start); 
    }
  }

  img {
    max-width: 4em;
    margin-right:.5rem;
  }
  .icon-container {
    position: relative;
    width:100%
  }
  .icon {
    position: absolute;
    right: -1.5rem;
    top: -1.5rem;
    width: 1.5rem;
  }
  .player-image {
    max-width: 10%;
  }
  .answer {
    font-size: 150%; 
   }
 
}

.reveal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // margin-bottom: 10rem;
  width: 100%;
}