@import './partials/_variables';
@import './partials/_animations';
@import 'partials/_global'; 

.littletext {
  width: $mobile-col-6+$mobile-gutter-margin * 1%;
  max-width: 30rem;
  // height: $mobile-col-6 * 1vh;

  color: $main-blue;
  font-family: $normal-font;
  transition: 1s ease-in-out;

  &__input{
    height:$mobile-col-1 + $mobile-gutter-margin * 1%;
    width:calc(100% - 1.5rem);
    padding: .75rem 0rem .75rem 1rem;

    font-size: 1.625rem;
    color: $main-blue;
    font-family: $normal-font;
    text-transform: lowercase;

    background-color: $off-white;
    border: $border-size solid $main-blue;
    border-radius: 0px;
    box-shadow: $border-size $border-size 0 $main-blue inset;

    resize: none;
    outline: none;

    transition: .5s ease-in-out;
    &::placeholder{
      color:$grey-main-blue;
    }
  }

  &__labels {
    width:100%;
    display:flex;
    justify-content: space-between;

    & * {
      margin: ($mobile-gutter-margin/2 * 1%) 0 ($mobile-gutter-margin/2 * 1%) 0;
      margin-bottom: $mobile-gutter-margin/2 * 1%;
    }

    & p {
      text-align: right;
      // margin: 0;
    }
  }

  &__error {
    // text-align: left;
    color:$main-red-orange;
    margin: .5rem 0 0 0;
  }

  &--full {
    color:$main-red-orange;
    animation: shake 1s ease-in-out both;
    transition: .5s ease-in-out;

    & p, & label {
      font-family: $bold-font;
      // transition: .5s ease-in-out;
    }

    & input {
      color: $main-red-orange;
      border: $border-size solid red;
      box-shadow: $border-size $border-size 0 red inset;
      transition: .5s ease-in-out;
    }
  }
}