@import './partials/_variables';
@import './partials/_helpers';

.simple-timer {
  width:$mobile-col-8 * 1%;
  max-width: 30rem;
}

.timer-container {
  @include flex(row); 
  font-family: $bold-font; 
  width:100%;
}
.timer {
  height: 0.75rem; 
  width: 100%; // perhaps a variable here (is there a way to pass from props.width?)
  background-color: $light-main-blue;
  border: $border-size solid $main-blue;
  margin: 0.5em;
}

.timer-indicator {
  height: 100%; 
  background-color: $main-blue;
}

article {
  @include flex(column, flex-start, flex-start);
}

.question-number {
  margin: 0 0.5em; 
  font-family: $bold-font; 
}